<%= render 'partials/header' %>
<div class="contenedor-principal">
	
	<h1>Editando Categoria <small>Competencias</small></h1>

	<%= render 'form', competition_category: @competition_category %>

	<%= link_to 'Atras', competition_categories_path %>
</div>
<%= render 'partials/footer' %>
