<%= render '/partials/header' %>
<div class="contenedor-principal">
	
	<h1>Reticula del estudiante <small><%= link_to @student.full_name, @student %></small></h1>
</div>
<%= render '/partials/footer' %>
