<footer class="table-format">
  <div class="container">
    <p>Ex-Hacienda de San Juan Ixtilmalco, carretera Apan-Tlaxco Km. 2 S/N, San Juan Ixtilmalco, Apan, Hgo. C.P. 43900</p>
    <p>Tel:(01748)912 04 20 y 912 37 10</p>
    <p>Email: direccbta@hotmail.com</p>
  </div>
</footer>
