<footer>
  <div class="container">
    <h6>Ex-Hacienda de San Juan Ixtilmalco, carretera Apan-Tlaxco Km. 2 S/N, San Juan Ixtilmalco, Apan, Hgo. C.P. 43900</h6>
    <h6>Tel:(01748)912 04 20 y 912 37 10</h6>
    <h6>Email: direccbta@hotmail.com</h6>
  </div>
</footer>
