<header>

      <h4>Centro de Bachillerato Tecnologico Agropecuario No.152 "Lauro L. Mendez"</h4>
      <h2 class="text-center">Competencias Genéricas para la Educacion Media Superior</h2>

</header>
