<header>
  <nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="<%= root_path	 %>">
    <img src="<%= asset_path 'logo.png' %>" width="30" height="30" class="d-inline-block align-top" alt="">
    C.B.T.A 152
  </a>
  <div class="nombre-usuario">
    <% if user_signed_in? %>
      <span>
        <%= current_user.email %> -
        <%= link_to("Salir", destroy_user_session_path , method: :delete) %>
      </span>
    <% end %>
  </div>
  </nav>
</header>
