<div class="contenedor-principal">
  <div class="margenes">
    <%= render 'partials/header' %>


    <p><%= current_user.email %> -
      <% if user_signed_in? %> <%= link_to("Salir", destroy_user_session_path , method: :delete) %> <% end %>
    </p>




  </div>
</div>
<%= render 'partials/footer' %>
