<%= render 'partials/header' %>
<div class="contenedor-principal">
  <div class="margenes">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-md-12 centrar-texto">
        <h1>Materias</h1>
      </div>
      <div class="col-md-12 derecha-texto">
          <%= link_to 'Nueva materia', new_curriculum_subject_path, class:"btn colorBackgroundTres colorTextoCinco" %>
      </div>
  </div>
</div>
<%= render 'partials/footer' %>
