<%= render 'partials/header' %>
<div class="contenedor-principal">
  <div class="margenes">
    <div class="row">
      <div class="col-md-12 centrar-texto">
        <h1>Nueva materia</h1>

      </div>
    </div>

    <%= render 'form', subject: @subject %>

    <%= link_to 'Regresar', curriculum_subjects_path, class:"btn colorBackgroundTres colorTextoCinco" %>
  </div>
</div>

<%= render 'partials/footer' %>
