<%= render 'partials/header' %>
<div class="contenedor-principal">
  <div class="margenes">
    <br><br>
    <div class="row">
      <div class="col-md-12">
        <h1 class="centrar-texto">Nuevo Profesor</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4 centrar-texto">


      </div>
      <div class="col-md-8">
        <%= render 'form', teacher: @teacher %>

      </div>
    </div>
    <br>
      <%= link_to 'Regresar', teachers_path, class:"btn colorBackgroundTres colorTextoCinco" %>
    <br><br>

  </div>

</div>
<%= render 'partials/footer' %>
