/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 /*
  *= require material_icons
 */

@import "bootstrap";

body{
  font-family: 'Droid Sans', sans-serif;
  background-color: #8EC09A;
  margin: 0;
  padding: 0;
}
footer{
  background: #353535;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}
footer p{
  font-size: 12px;
  margin-bottom: 0;
}

p{
  font-size: 16px;
  font-weight: normal;
}
.contenedor-principal{
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  overflow: hidden;
}

.colorTextoUno{
  color: #DB3A4E;
}
.colorTextoDos{
  color: #8D2C3F;
}
.colorTextoTres{
  color: #0F363E;
}
.colorTextoCuatro{
  color: #177175;
}
.colorTextoCinco{
  color: #8EC09A;
}
.colorBackgroundUno{
  background-color: #DB3A4E;
}
.colorBackgroundDos{
  background-color: #8D2C3F;
}
.colorBackgroundTres{
  background-color: #0F363E;
}
.colorBackgroundCuatro{
  background-color: #177175;
}
.colorBackgroundCinco{
  background-color: #8EC09A;
}
.colorBackgroundNo{
  background-color: transparent;
}
.colorBorderUno{
  border: 1px solid #DB3A4E;
  border-radius: 3px;

}
.colorBorderDos{
  border: 1px solid #8D2C3F;
}
.colorBorderTres{
  border: 1px solid #0F363E;
}
.colorBorderCuatro{
  border: 1px solid #177175;
}
.colorBorderCinco{
  border: 1px solid #8EC09A;
}

.competences-table{
  .category:nth-child(even){
    background-color: #F08E1C;
  }
  .category:nth-child(odd){
    background-color: #59D53B;
  }

  .category{
    .competence:nth-child(even){
      background-color: rgba(255,255,255,0.15);
    }
    .competence:nth-child(odd){
      background-color: rgba(255,255,255,0.3);
    }
  }

  .competence{
    p{
      padding: .3em .6em;
      margin: 0;
    }
    p:nth-child(odd){
      background-color: rgba(255,255,255,0.2);
    }
    p:nth-child(even){
      background-color: rgba(255,255,255,0.4);
    }
  }
}

.espaciado{
  margin: 10px;
}

.fh {
  height: 100%;
}

.img-fw {
  width: 100%
}

.img-fh {
  height: 100%;
}

.login-header img {
  width: 100%;
  margin-bottom: 2em;
}

.login-main img{
  width: 40%;
}

.margenes{

}

.navbar {
  box-shadow: 0 1px 8px grey;
}

.nombre-usuario{
  text-align: right;
  line-height: 40px;
}

.semifooter {
  height: 60px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.Wlogo{
  width: 90%;
  height: auto;
}
