<%= render 'partials/header' %>
<div class="contenedor-principal">
	
	<h1>Editando Competencia</h1>

	<%= render 'form', generic_competence: @generic_competence %>

	<%= link_to '<= Adminstrar Competencias', competition_categories_url %>
</div>
<%= render 'partials/footer' %>
