<h1>Editing Generic Competence Attribute</h1>

<%= render 'form', generic_competence_attribute: @generic_competence_attribute %>

<%= link_to 'Show', @generic_competence_attribute %> |
<%= link_to 'Back', generic_competence_attributes_path %>
