<%= render 'partials/header' %>
<div class="contenedor-principal">
	
	<h1>Editando Atributo de Competencia</h1>
	<%= render 'form', generic_competence_attribute: @generic_competence_attribute %>
	<%= link_to '<= Administrar Competencias', competition_categories_path %>
</div>
<%= render 'partials/footer' %>
